<div class="row">
    <div class="col-12 hidden-md hidden-xs hidden-sm">
        <div class="booking-right-block z-depth-2 important-block">
            <div class="row">
                <div class="col-md-12 block-ul">
                    <h3 class="text-center text-danger">ВНИМАНИЕ</h3>
                    <b>После отправки Заявки на бронирование ожидайте Подтверждение по указанному номеру телефона</b>
                </div>
            </div>            
        </div>
        <div class="booking-right-block z-depth-2 important-block padding-min">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center booking-block-header">Условия бронирования</h4>
                    <ul class="block-ul">
                        <li>предоплата за 1 сутки </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="booking-right-block z-depth-2">
            <div class="col-md-12">
                <h4 class="booking-block-header">Ограничения</h4>
                <ul class="block-ul" >
                    <li>запрещено курить в номерах </li>
                    <li>запрещено шуметь после 23-00 </li>
                    <li>минимальный заезд от 3 суток </li>
                </ul>
            </div>
        </div>
        <div class="booking-right-block z-depth-2">
            <div class="col-md-12">
                <h4 class="booking-block-header">Питание</h4>
                <ul class="block-ul">
                    <li> Общая кухня (самостоятельно) </li>
                    <li> Кафе рядом </li>
                </ul>
            </div>
        </div>
        <div class="booking-right-block z-depth-2">
            <div class="col-md-12">
                <h4 class="booking-block-header">Парковка</h4>
                <ul class="block-ul">
                    <li>Открытая парковка на территории (бесплатно)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
